<div class="row">
  <div class="col-12">
    <img class="img-fluid" src="" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Recipe name</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button
        id="recipeDetailDropdown"
        type="button"
        data-toggle="dropdown"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
      <ul class="dropdown-menu" aria-labelledby="recipeDetailDropdown">
        <li class="dropdown-item"><a href="#">To Shopping list</a></li>
        <li class="dropdown-item"><a href="#">Update recipe</a></li>
        <li class="dropdown-item"><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingrdients
  </div>
</div>
